<!DOCTYPE HTML>
<style type="text/css">
div#board {
    position: relative;
    border: 1px solid #aaa;
    height: 900px;
    width: 900px;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.grabbable {
    cursor: -webkit-grab;
    cursor: grab;
}

div.magnet {
    position: absolute;
    border: 1px solid #aaa;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

body {
  font-family: Sans-Serif;
}

* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
</style>

<script src="/js/d3.min.js"></script>
<script src="/js/JSXTransformer.js"></script>
<script src="/js/react-with-addons.min.js"></script>
<body>
<div id="wrapper" />
<script type="text/jsx">

    var width = height = 900;

    d3.json("/data/words.json", function(err, data) {
        if (err !== null) return console.warn(err)
        React.render(<Board words={data} />, document.getElementById("wrapper"))
    })

    var Board = React.createClass({
        onMouseMove: function(wordIndex, e) {
            mutableState = this.state
            mutableState.wordList[wordIndex].x = this.startDrag.x + e.clientX - this.startDrag.clientX
            mutableState.wordList[wordIndex].y = this.startDrag.y + e.clientY - this.startDrag.clientY
            this.setState(mutableState)
        },
        makeMouseMove: function(wordIndex) {
            // Define a closure to call on mouse move events
            var that = this
            return function(e) { that.onMouseMove(wordIndex, e) }
        },
        makeMouseUp: function(listenerToRemove) {
            var that = this
            return function(e) { that.mouseUp(listenerToRemove, e) }
        },
        mouseDown: function(wordIndex, e) {
            this.startDrag = {
                clientX: e.clientX,
                clientY: e.clientY,
                x: this.state.wordList[wordIndex].x,
                y: this.state.wordList[wordIndex].y
            }
            this.setState({selectedWordIndex: wordIndex, grabbing: true})
            node = React.findDOMNode(this)
            newMouseMove = this.makeMouseMove(wordIndex)
            node.addEventListener("mousemove", newMouseMove)
            node.addEventListener("mouseup", this.makeMouseUp(newMouseMove))
        },
        mouseUp: function(listenerToRemove, e) {
            this.setState({grabbing: false})
            node = React.findDOMNode(this)
            node.removeEventListener("mousemove", listenerToRemove)
            node.removeEventListener("mouseup", this.mouseUp)
        },
        getInitialState: function() {
            var wordListObject = {
                wordList: this.props.words.map(function(d) {
                    return {
                        word: d,
                        x: Math.random() * width,
                        y: Math.random() * height,
                        selectedWordIndex: 0,
                        grabbing: false
                    }
                })
            }
            return wordListObject
        },

        render: function() {
            var cx = React.addons.classSet
            var myClasses = cx({board: true, grabbing: this.state.grabbing})
            var magnets = this.state.wordList.map(function(d, i) {
                return <Magnet
                    wordid={i}
                    word={d}
                    registerMouseDown={this.mouseDown}
                    registerMouseUp={this.mouseUp}
                    selectedWordIndex={this.state.selectedWordIndex}
                    grabbing={this.state.grabbing}/>
            }, this)
            boardStyle = {
                width: width + "px",
                height: height + "px",
            }
            return <div id="board" style={boardStyle}>
                {magnets}
            </div>
        }
    });

    var Magnet = React.createClass({
        onMouseDown: function(e) {
            this.props.registerMouseDown(this.props.wordid, e)
        },
        onMouseUp: function(e) {
            this.props.registerMouseUp(e)
        },
        getInitialState: function() {
            return this.makeStyle()
        },
        makeStyle: function() {
            var grabbingMe = this.props.selectedWordIndex === this.props.wordid && this.props.grabbing
            newStyle = {
                    zIndex: grabbingMe ? 1 : 0,
                    left:   this.props.word.x + "px",
                    top:    this.props.word.y + "px"
            }
            return newStyle
        },
        render: function() {
            var omg = {"left": "100px"}
            var cx = React.addons.classSet
            var myClasses = cx({magnet: true, grabbable: !this.props.grabbing, grabbing: this.props.grabbing})
            return <div className={myClasses} onMouseDown={this.onMouseDown} onMouseUp={this.onMouseUp}
              style={this.makeStyle()}
              onMouseDown={this.onMouseDown}
              onMouseUp={this.onMouseUp}>
                {this.props.word.word}
            </div>
        }
    })

</script>
